.DS_Store
thumbs.db
log/*.log
config/database.yml
tmp/**/*
db/*.sqlite3
doc/api
doc/app
doc/plugins
doc/controllers.png
doc/models.png
db/schema.rb
nbproject/
nbproject/*
public/uploads
public/uploads/**/*
*.tmproj
coverage/*
files/**/*
